table {
    background-color: rgb(64, 172, 157);
    color:rgb(18, 11, 11);
        
}


h1 {
    color: black;
    padding-left: 45vw; 
}

h2 {
    color: black;
}

p {
    color: black;
}

body {
    background-image: url(asia\ cup3.jpg);
   }